{% for item in lesson.items %}

<div class="row">
  <div class="col-12" data-number="{{ item.number }}" data-strokes="{{ item.strokes }}">
    <a href="http://jisho.org/search/{{ item.kanji }}%20%23kanji" target="_blank" title="Jisho.org↗">{{ item.kanji }}</a>
  </div>
  <div class="col-12">
    <div class="float-left">
      {{ item.kunyomi | markdownify | remove: '<p>' | remove: '</p>' }}
    </div>
    <div class="float-right">
      {{ item.onyomi | markdownify | remove: '<p>' | remove: '</p>' }}
    </div>
  </div>
  <div class="col-12">
    <ul>

      {% for compound_word in item.compound_words %}

      <li>
        <ruby lang="ja" xml:lang="ja"><rb><a href="http://jisho.org/word/{{ compound_word.word | markdownify | remove: '<p>' | remove: '</p>' }}" target="_blank" title="Jisho.org↗">{{ compound_word.word | markdownify | remove: '<p>' | remove: '</p>' }}</a></rb><rt>（{{ compound_word.kana | markdownify | remove: '<p>' | remove: '</p>' }}）</rt></ruby>

        {% for translation in compound_word.translations %}

        <span class="hide" lang="ca" xml:lang="ca" title="{{ translation.ca }}">{{ translation.ca | markdownify | remove: '<p>' | remove: '</p>' }}</span>
        <span class="show" lang="en" xml:lang="en" title="{{ translation.en }}">{{ translation.en | markdownify | remove: '<p>' | remove: '</p>' }}</span>
        <span class="hide" lang="es" xml:lang="es" title="{{ translation.es }}">{{ translation.es | markdownify | remove: '<p>' | remove: '</p>' }}</span>

        {% endfor %}

      </li>

      {% endfor %}

    </ul>
  </div>
</div>

{% endfor %}
