<nav class="navbar navbar-dark bg-dark sticky-top">
  <a class="navbar-brand">にほんご <b>チャレンジ</b> かんじ <i>N4-5</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="oi oi-bolt"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <span class="navbar-text hide" lang="ca" xml:lang="ca">Part 1 Lliçó:</span>
    <span class="navbar-text show" lang="en" xml:lang="en">Part 1 Lesson:</span>
    <span class="navbar-text hide" lang="es" xml:lang="es">Parte 1 Lección:</span>
    <div class="navbar-nav navbar-nav-lessons" id="navbarPart1">

      {% assign lessons = site.kanji | where: "part","1"| group_by: "lesson" %}

      {% for lesson in lessons %}

      <a class="nav-item nav-link" href="#Part1Lesson{{ lesson.name }}">{{ lesson.name }}</a>

      {% endfor %}

      <a class="nav-item nav-link disabled" href="#Part1Lesson8">8</a>
      <a class="nav-item nav-link disabled" href="#Part1Lesson9">9</a>
      <a class="nav-item nav-link disabled" href="#Part1Lesson10">10</a>
      <a class="nav-item nav-link disabled" href="#Part1Lesson11">11</a>

    </div>
    <span class="navbar-text hide" lang="ca" xml:lang="ca">Part 2 Lliçó:</span>
    <span class="navbar-text show" lang="en" xml:lang="en">Part 2 Lesson:</span>
    <span class="navbar-text hide" lang="es" xml:lang="es">Parte 2 Lección:</span>
    <div class="navbar-nav navbar-nav-lessons" id="navbarPart2">

      {% assign lessons = site.kanji | where: "part","2"| group_by: "lesson" %}

      {% for lesson in lessons %}

      <a class="nav-item nav-link" href="#Part2Lesson{{ lesson.name }}">{{ lesson.name }}</a>

      {% endfor %}

      <!-- this is temp -->
      <a class="nav-item nav-link disabled" href="#Part2Lesson10">10</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson11">11</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson12">12</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson13">13</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson14">14</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson15">15</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson16">16</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson17">17</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson18">18</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson19">19</a>
      <a class="nav-item nav-link disabled" href="#Part2Lesson20">20</a>
      <!-- :P -->

    </div>
    <span class="navbar-text hide" lang="ca" xml:lang="ca">Idioma:</span>
    <span class="navbar-text show" lang="en" xml:lang="en">Language:</span>
    <span class="navbar-text hide" lang="es" xml:lang="es">Idioma:</span>
    <div class="navbar-nav" id="navbarLanguages">
      <a class="switch-language-ca nav-item nav-link" href="#">ca</a>
      <a class="switch-language-en nav-item nav-link active" href="#">en</a>
      <a class="switch-language-es nav-item nav-link" href="#">es</a>
    </div>
  </div>
</nav>
