{% include header.html %}

  {% assign lessons = site.kanji | where: "part","1"| group_by: "lesson" %}

  {% for lesson in lessons %}

  <!-- Part 1 Lesson {{ lesson.name }} -->
  <div id="Part1Lesson{{ lesson.name }}" class="container-fluid" data-lesson="{{ lesson.name }}">

    {% include item.html %}

  </div>

  {% endfor %}

  {% assign lessons = site.kanji | where: "part","2"| group_by: "lesson" %}

  {% for lesson in lessons %}

  <!-- Part 2 Lesson {{ lesson.name }} -->
  <div id="Part2Lesson{{ lesson.name }}" class="container-fluid" data-lesson="{{ lesson.name }}">

    {% include item.html %}

  </div>

  {% endfor %}

{% include footer.html %}
