{% include header.html %}

  {% assign lessons = site.kanji | where: "part","1"| group_by: "lesson" %}

  {% for lesson in lessons %}

  <!-- Part 1 Lesson {{ lesson.name }} -->
  <div id="Part1Lesson{{ lesson.name }}" class="container-fluid" data-lesson="{{ lesson.name }}">

    {% include item.html %}

    <div class="row">
      <div class="col-12">
        <aside>
          <a href="{{ site.url }}/files/CardPart1Lesson{{ lesson.name }}.pdf" class="oi oi-brush">
            <span class="hide" lang="ca" xml:lang="ca">Kanji Cards</span>
            <span class="show" lang="en" xml:lang="en">Kanji Cards</span>
            <span class="hide" lang="es" xml:lang="es">Kanji Cards</span>
          </a>
        </aside>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <aside>
          <a href="{{ site.url }}/files/DocPart1Lesson{{ lesson.name }}.pdf"class="oi oi-document">
            <span class="hide" lang="ca" xml:lang="ca">Apunts de classe</span>
            <span class="show" lang="en" xml:lang="en">Class notes</span>
            <span class="hide" lang="es" xml:lang="es">Apuntes de clase</span>
          </a>
        </aside>
      </div>
    </div>

  </div>

  {% endfor %}

  {% assign lessons = site.kanji | where: "part","2"| group_by: "lesson" %}

  {% for lesson in lessons %}

  <!-- Part 2 Lesson {{ lesson.name }} -->
  <div id="Part2Lesson{{ lesson.name }}" class="container-fluid" data-lesson="{{ lesson.name }}">

    {% include item.html %}

    <div class="row">
      <div class="col-12">
        <aside>
          <a href="{{ site.url }}/files/CardPart2Lesson{{ lesson.name }}.pdf" class="oi oi-brush">
            <span class="hide" lang="ca" xml:lang="ca">Kanji Cards</span>
            <span class="show" lang="en" xml:lang="en">Kanji Cards</span>
            <span class="hide" lang="es" xml:lang="es">Kanji Cards</span>
          </a>
        </aside>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <aside>
          <a href="{{ site.url }}/files/DocPart2Lesson{{ lesson.name }}.pdf"class="oi oi-document">
            <span class="hide" lang="ca" xml:lang="ca">Apunts de classe</span>
            <span class="show" lang="en" xml:lang="en">Class notes</span>
            <span class="hide" lang="es" xml:lang="es">Apuntes de clase</span>
          </a>
        </aside>
      </div>
    </div>

  </div>

  {% endfor %}

{% include footer.html %}
