{% include header.html %}

  {% assign lessons = site.kanji | where: "part","1"| group_by: "lesson" %}

  {% for lesson in lessons %}

  <!-- Part 1 Lesson {{ lesson.name }} -->
  <div id="Part1Lesson{{ lesson.name }}" class="container-fluid" data-lesson="{{ lesson.name }}">

    <aside>
      <a href="{{ site.url }}/files/CardPart1Lesson{{ lesson.name }}.pdf" class="oi oi-brush" title="Kanji Cards"></a>
      <a href="{{ site.url }}/files/DocPart1Lesson{{ lesson.name }}.pdf"class="oi oi-document" title="Explanation by Lourdes"></a>
      <a onclick="jQuery.print('#Part1Lesson{{ lesson.name }}')" class="oi oi-print" title="Printable version"></a>
    </aside>

    {% include item.html %}

  </div>

  {% endfor %}

  {% assign lessons = site.kanji | where: "part","2"| group_by: "lesson" %}

  {% for lesson in lessons %}

  <!-- Part 2 Lesson {{ lesson.name }} -->
  <div id="Part2Lesson{{ lesson.name }}" class="container-fluid" data-lesson="{{ lesson.name }}">

    <aside>
      <a href="{{ site.url }}/files/CardPart2Lesson{{ lesson.name }}.pdf" class="oi oi-brush" title="Kanji Cards"></a>
      <a href="{{ site.url }}/files/DocPart2Lesson{{ lesson.name }}.pdf"class="oi oi-document" title="Explanation by Lourdes"></a>
      <a href="#" class="oi oi-print" title="Printable version"></a>
    </aside>

    {% include item.html %}

  </div>

  {% endfor %}

{% include footer.html %}
